@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas!</h1>
    <p>Use as abas acima para realizar a navegação pelo site.</p>
    <p>Funcionalidades disponíveis:</p>
    <ul class="list-unstyled text-left">
        <li><span class="bullet">&#8226;</span> Listar Usuários</li>
        <li><span class="bullet">&#8226;</span> Detalhar Usuário</li>
        <li><span class="bullet">&#8226;</span> Cadastrar Usuário</li>
        <li><span class="bullet">&#8226;</span> Editar Usuário</li>
        <li><span class="bullet">&#8226;</span> Excluir Usuário</li>
    </ul>
</div>

<style>
    .list-unstyled {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

        .list-unstyled li {
            margin-bottom: 10px;
        }

    .bullet {
        margin-right: 5px;
    }
</style>
